<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LabWeb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>060979581C160F4848B975E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FCB5F560AAF683104EE2E22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223A26547E9A3C281F5F423A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>234E14523C477FAE1D1C2F1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>235C25EE3E4F5EAE0D211D32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25AF090B65F42CF85F177716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>295B3DC640F1414B53BB51B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>297C3AEF4EB977CF41B03364</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C990A2B3E190FDC642A252D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E40105B74DD621D658A4A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31DC6899171A5CFC5079674F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3782472957B804B065015C62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DB5775228B2629A29086A73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44D46044226C75AF3B481D22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50CC28036E5716E12E820678</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52E9782839005E5930C1731A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53EA54AB469C6D147BE91B5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57BE0D4E1AF42859074956A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>586A50F27665012C003C640E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>607676EC1E0842AD1EFF0028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67795C38639646E01EE751E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67BA24021D19562552CB3179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F4F5275314F47CD16EC104E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>789470E847D05E96071A625E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79DF371C22213F1517435F78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D1B03143F4F62B55E9D1E3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
